#club-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.club-list-header {
  display: flex;
}

.search-container {
  display: flex;
  width: max-content;
}

.search-area {
  width: 200px;
}

.search-button {
  color: gray;
  padding: 3px;
}

.search-button:hover {
  color: #222;
}

.icon {
  border-radius: 8px;
  border-color: gainsboro;
  border-style: solid;
  border-width: 1px;
  margin: 4px;
}

.club-card-container {
  width: max-content;
  height: max-content;
  padding: 5px;
}

.culture-club {
  background-color: #fff9ff;
}

.athletic-club {
  background-color: #f9ffff;
}

.club-card {
  display: flex;
  width: max-content;
}

.club-header {
  display: flex;
  vertical-align: middle;
}

.club-name {
  display: inline-block;
  width: 250px;
  margin-right: 5px;
  color: #333;
}

.club-card-footer {
  display: flex;
}

.club-tag-list {
  display: none;
}

.club-tag {
  font-size: 10px;
  color: gray;
}

.club-tag:hover {
  color: #222;
  text-decoration: underline;
}

.sns-list {
  margin-left: auto;
}

.sns-icon {
  font-size: 10px;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  padding: 3px;
  color: gray;
  border-color: gray;
}

.twitter[href] {
  color: skyblue;
  border-color: skyblue;
}

.twitter[href]:hover {
  color: deepskyblue;
  border-color: deepskyblue;
}

.instagram[href] {
  color: hotpink;
  border-color: hotpink;
}

.instagram[href]:hover {
  color: deeppink;
  border-color: deeppink;
}
