:root {
  --font-size: 24px;
  --border-radius: calc(var(--font-size) / 2);
}

#club-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--font-size) * 10 + 133px), 1fr));
}

.club-list-header {
  display: flex;
}

.search-container {
  display: flex;
  width: max-content;
}

.search-area {
  width: 200px;
}

.search-button {
  color: gray;
  padding: 3px;
}

.search-button:hover {
  color: #222;
}

.icon {
  border-radius: var(--border-radius);
  border-color: gainsboro;
  border-style: solid;
  border-width: 1px;
  margin: 4px 12px 4px 4px;
  height: var(--font-size);
  width: var(--font-size);
}

.club-card-container {
  width: max-content;
  height: max-content;
  padding: 5px 20px 5px 5px;
}

.culture-club {
  background-color: #fff9ff;
}

.athletic-club {
  background-color: #f9ffff;
}

.club-card {
  display: flex;
  width: max-content;
}

.club-header {
  display: flex;
  vertical-align: middle;
}

.club-name {
  display: inline-block;
  width: calc(var(--font-size) * 10);
  margin-right: 5px;
  color: #333;
  margin-top: auto;
  margin-bottom: auto;
}

.club-card-footer {
  display: flex;
}

.club-tag-list {
  display: none;
}

.club-tag {
  font-size: 10px;
  color: gray;
}

.club-tag:hover {
  color: #222;
  text-decoration: underline;
}

.sns-list {
  margin-left: auto;
}

.sns-icon {
  font-size: var(--font-size);
  text-decoration: none;
  border-radius: var(--border-radius);
  text-align: center;
  padding: 3px;
  border-color: gray;
}

.sns-icon.instagram {
  color: gray;
}

.sns-icon.twitter {
  color: #c0c0c0;
}

.sns-icon.instagram:hover {
  color: gray;
}

.sns-icon.twitter:hover {
  color: #c0c0c0;
}

.twitter[href] {
  color: skyblue;
  border-color: skyblue;
}

.twitter[href]:hover {
  color: deepskyblue;
  border-color: deepskyblue;
}

.instagram[href] {
  color: hotpink;
  border-color: hotpink;
}

.instagram[href]:hover {
  color: deeppink;
  border-color: deeppink;
}
